<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd 
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <context:component-scan base-package="com.tutorial"/>

    <context:mbean-export/>

    <context:property-placeholder ignore-resource-not-found="false"
                                  location="classpath:database.properties"
                                  ignore-unresolvable="false"
                                  system-properties-mode="NEVER"/>

    <bean id="registry" class="com.codahale.metrics.MetricRegistry"/>

    <bean class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.tutorial.utils.PersistenceUtils"/>
        <!--suppress SpringModelInspection -->
        <property name="targetMethod" value="setEntityManagerFactory"/>
        <property name="arguments">
            <list>
                <ref bean="entityManagerFactory"/>
            </list>
        </property>
    </bean>
</beans>