<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/data/jpa
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <jpa:repositories entity-manager-factory-ref="entityManagerFactory"
                      base-package="com.tutorial.repository"
                      transaction-manager-ref="transactionManager"/>

    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="false"/>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitManager">
            <bean class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
                <property name="defaultDataSource" ref="dataSource"/>
            </bean>
        </property>
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.tutorial.domain"/>
        <property name="jpaDialect">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
        </property>
        <property name="persistenceUnitName" value="tutorialUnit"/>
        <property name="persistenceProvider">
            <bean class="org.springframework.orm.jpa.vendor.SpringHibernateJpaPersistenceProvider"/>
        </property>
        <property name="sharedCacheMode" value="ENABLE_SELECTIVE"/>
        <property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml"/>
        <property name="validationMode" value="AUTO"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="MYSQL"/>
                <property name="showSql" value="true"/>
                <property name="generateDdl" value="true"/>
                <property name="databasePlatform" value="org.hibernate.dialect.MySQL5InnoDBDialect"/>
            </bean>
        </property>
        <property name="jpaPropertyMap">
            <map>
                <entry key="hibernate.connection.driver_class" value="${jdbc.driverClassName}"/>
                <entry key="hibernate.connection.url" value="${jdbc.url}"/>
                <entry key="hibernate.connection.username" value="${jdbc.username}"/>
                <entry key="hibernate.connection.password" value="${jdbc.password}"/>
                <entry key="hibernate.dialect" value="${hibernate.jdbc.dialect}"/>
                <entry key="hibernate.show_sql" value="${hibernate.jdbc.show_sql}"/>
                <entry key="hibernate.format_sql" value="${hibernate.jdbc.format_sql}"/>
                <entry key="hibernate.hbm2ddl.auto" value="${hibernate.jdbc.ddl}"/>
                <entry key="hibernate.archive.autodetection" value="${hibernate.archive.autodetection}"/>
                <entry key="hibernate.c3p0.acquire_increment" value="${hibernate.c3p0.acquire_increment}"/>
                <entry key="hibernate.c3p0.min_size" value="${hibernate.c3p0.min_size}"/>
                <entry key="hibernate.c3p0.max_size" value="${hibernate.c3p0.max_size}"/>
                <entry key="hibernate.c3p0.timeout" value="${hibernate.c3p0.timeout}"/>
                <entry key="hibernate.c3p0.max_statements" value="${hibernate.c3p0.max_statements}"/>
                <entry key="hibernate.c3p0.idle_test_period" value="${hibernate.c3p0.idle_test_period}"/>
                <entry key="hibernate.c3p0.validate" value="${hibernate.c3p0.validate}"/>
                <entry key="hibernate.c3p0.preferredTestQuery" value="${hibernate.c3p0.preferredTestQuery}"/>
                <entry key="hibernate.cache.use_second_level_cache" value="${hibernate.cache.use_second_level_cache}"/>
                <entry key="hibernate.cache.region.factory_class" value="${hibernate.cache.region.factory_class}"/>
                <entry key="hibernate.cache.use_query_cache" value="${hibernate.cache.use_query_cache}"/>
                <entry key="hibernate.cache.use_structured_entries" value="${hibernate.cache.use_structured_entries}"/>
            </map>
        </property>
    </bean>
</beans>